:root {
    --bg: #121212;
    --bg-nav: #121212;
    --bg-dropdown: #12181b;
    --text: #FFFFFF;
    --border-color: #7c5cff;
    --box: #ffffff;
    --navBarActive: #04aa6d;
}

#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

/* Main */
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Verdana;
    padding: 0;
    margin-top: 0;
    margin: 0;
    padding: 0;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body.fadein {
    opacity: 0;
    transition: opacity 3s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: white solid 2px;
}

a, a:hover, a:visited, a:active {
    color: currentColor;
    text-decoration: none;
}

/* navbar */
.navbar {
    height: 70px;
    width: 100%;
    background: var(--bg-nav);
    color: var(--text);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.active {
    padding-bottom: 0.4rem;
    border: 2px solid transparent;
    border-bottom-color: var(--border-color);
}

.main {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.infoBox {
    border: 1px solid white;
    padding: 8px;
    height: 38px;
    font-size: 14px;
    display: flex;
    flex-shrink: 0;
    line-height: 24px;
    -webkit-box-align: center;
    align-items: center;
}

.infoBox p {
    padding: 8px;
    height: 38px;
    font-size: 14px;
    display: flex;
    flex-shrink: 0;
    line-height: 24px;
    -webkit-box-align: center;
    align-items: center;
}

.textBoxDiv {
    padding: 0px 12px 12px;
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.textBoxWrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid white;
    font-size: 14px;
    color: white;
    line-height: 20px;
    height: 46px;
    padding: 0px 11px;
    font-weight: 400;
    position: relative;
}

.textBox {
    border: none;
    background: none;
    padding: 12px 0px;
    color: white;
    font-size: 14px;
    width: 100%;
}

.imageWrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
    margin-left: 2px;
}

img {
    object-fit: cover;
    width: 20px;
    height: 20px;
    fill: none;
}

#slideUp {
    display: none;
    position: fixed;
    z-index: 2;
    transform: translate(-50%, -50%);
}

#slideUpItem {
    cursor: pointer;
}

input {
    width: 100%;
    height: 100%;
}

#playButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: transparent;
}

#playButton img {
    size: 100%;
}

#playWrapper {
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 12px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.player {
    max-width: 500px;
    margin: 1rem auto;
    background: transparent;
    padding: 6px 5.3px 4px 5.3px;
    border-radius: 14px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.player-track-meta {
    text-align: center;
}

.player-track-meta p {
    margin: 0;
    font-size: 20px;
    color: #0e0e0e;
    font-weight: 700;
}

.player-track-meta span {
    font-size: 16px;
    font-weight: 400;
    padding: 0 2px;
    position: relative;
    top: 1px;
    color: #a3a3a3;
}

.player-controls {
    display: flex;
    align-items: center;
}

.player-play-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.icon-container {
    fill: transparent;
    stroke: none;
}

.player-play-btn:hover {
    fill: #444444;
}

.player-play-btn svg {
    color: #0e0e0e;
    position: relative;
    left: 0.5px;
    width: 36px;
    height: 36px;
    display: block;
}

.player-play-btn:hover svg {
    color: #ffffff;
}

.player-timeline {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.player-progress {
    display: flex;
    position: relative;
    height: 6px;
    background: #a3a3a3;
    border-radius: 25px;
    margin: 0 5px;
    flex: 10;
    flex-basis: 100%;
    overflow: hidden;
}

.player-progress-filled {
    height: 6px;
    background: #0e0e0e;
    flex: 0;
    flex-basis: 0%;
    border-radius: 25px;
}

.player-time {
    padding: 2px 5px;
    color: white;
}

.player-volume-container {
    width: 15%;
}

.player-volume {
    height: 28px;
    margin: 10px 0;
    width: 100%;
    background: transparent;
}

.player-volume:focus {
    outline: none;
}

.player-volume::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #0e0e0e;
    border-radius: 10px;
}

.player-volume::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    border: none;
    background: #0e0e0e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

.player-volume:focus::-webkit-slider-runnable-track {
    background: #0e0e0e;
}

.player-volume::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #0e0e0e;
    border-radius: 10px;
}

.player-volume::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    border: none;
    background: #0e0e0e;
    cursor: pointer;
    margin-top: -4px;
}

.player-volume::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #0e0e0e;
    border-radius: 10px;
}

.player-volume::-ms-fill-lower {
    background: #0e0e0e;
    border-radius: 10px;
}

.player-volume::-ms-fill-upper {
    background: #0e0e0e;
    border-radius: 10px;
}

.player-volume::-ms-thumb {
    margin-top: 1px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: none;
    background: #0e0e0e;
    cursor: pointer;
}

.player-volume:focus::-ms-fill-lower {
    background: #38bdf8;
}

.player-volume:focus::-ms-fill-upper {
    background: #38bdf8;
}